<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
    <!-- Left side thumbnail image -->
    <div fxFlex="30" fxLayoutAlign="center center">
        <img src="{{product.thumbnail}}" alt="Product Thumbnail" width="100" height="100">
    </div>

    <!-- Right side product details -->
    <div fxFlex>
        <!-- Product Name -->
        <a [routerLink]="['/product-detail', product.id]">
            <h2>{{ product.title }}</h2>
        </a>
        <!-- Product Description -->
        <p>{{ product.description }}</p>
        <!-- Product Price -->
        <p>Price: {{ product.price*80 | currency:'INR' }}</p>
        <!-- Product Rating -->
        <p>Rating: {{product.rating}}</p>
    </div>
</div>